body {
  font-family: "times new roman", palatino linotype, athena, tahoma;
  font-size: 10pt;
  color: rgb(0, 0, 0);
  text-align: left;
  margin-left: 20;
  margin-right: 20;
  margin-bottom: 3;
  display: block;
  margin: 8px;
}
.text {
  color: red;
  padding-left: 450px;
}

.text2 {
  padding-left: 10px;
  font-size: 12pt;
}

.text3 {
  padding-left: 10px;
}

.text4 {
  padding-left: 10px;
}
hr {
  display: block;
}

.text5 {
  padding-left: 550px;
  color: red;
}

.text6 {
  padding-left: 10px;
}
.img {
  padding-left: 10px;
}
.text7 {
  padding-left: 10px;
}
.text8 {
  padding-left: 10px;
}
.img2 {
  padding-left: 10px;
}
.text9 {
  padding-left: 10px;
}
.text10 {
  padding-left: 10px;
}
.text11 {
  padding-left: 10px;
}
.img3 {
  padding-left: 10px;
}
.text12 {
  padding-left: 10px;
}
.text13 {
  padding-left: 10px;
}
.text14 {
  padding-left: 10px;
}
.text15 {
  padding-left: 10px;
}
.text16 {
  padding-left: 10px;
}
.text17 {
  padding-left: 10px;
}
.text18 {
  padding-left: 550px;
  color: red;
}
.text19 {
  padding-left: 10px;
}
.text20 {
  padding-left: 10px;
}
.text21 {
  padding-left: 10px;
}
.text22 {
  padding-left: 10px;
}
.text23 {
  padding-left: 10px;
}
.text24 {
  padding-left: 10px;
}
.img24 {
  padding-left: 10px;
}
.img4 {
  padding-left: 10px;
}
.text25 {
  padding-left: 10px;
}
.text26 {
  padding-left: 10px;
}
.text27 {
  padding-left: 10px;
}
.text28 {
  padding-left: 10px;
}
.text29 {
  padding-left: 10px;
}
.text30 {
  padding-left: 10px;
}
.text31 {
  padding-left: 10px;
}
.text32 {
  padding-left: 10px;
}
.text33 {
  padding-left: 10px;
}
.text34 {
  padding-left: 10pxSo then I made a drawing.;
}
.img5 {
  padding-left: 10px;
}
.text35 {
  padding-left: 10px;
}
.text36 {
  padding-left: 10px;
}
.text37 {
  padding-left: 10px;
}
.img6 {
  padding-left: 10px;
}
.text34 {
  padding-left: 10px;
}
.text38 {
  padding-left: 10px;
}
.text39 {
  padding-left: 10px;
}
.text40 {
  padding-left: 10px;
}
.text41 {
  padding-left: 10px;
}
.text42 {
  padding-left: 10px;
}
.img7 {
  padding-left: 10px;
}
.text43 {
  padding-left: 10px;
}
.text44 {
  padding-left: 10px;
}
.img8 {
  padding-left: 10px;
}
.text45 {
  padding-left: 10px;
}
.text46 {
  padding-left: 10px;
}
.text47 {
  padding-left: 10px;
}
.text48 {
  padding-left: 10px;
}
.text49 {
  padding-left: 10px;
}
.text50 {
  padding-left: 10px;
}
.text51 {
  padding-left: 10px;
}
.text52 {
  padding-left: 10px;
}
.text53 {
  padding-left: 10px;
}
.text54 {
  padding-left: 10px;
}
body {
  background: rgb(255, 255, 224);
}

h5 {
  font-weight: 200;
}
p {
  font-weight: 200;
}
